<div class="filter-container">
  <span>Filter: </span>

  <!-- STEP 2: call func when change/add value -->
  <input
    type="radio"
    name="filter"
    value="all"
    [(ngModel)]="selectedRadioButton"
    (change)="onSelectedRadioButtonChange()"
  />
  <span>All ({{ all }})</span>

  <input
    type="radio"
    name="filter"
    value="true"
    [(ngModel)]="selectedRadioButton"
    (change)="onSelectedRadioButtonChange()"
  />
  <span>In Stock ({{ inStock }})</span>

  <input
    type="radio"
    name="filter"
    value="false"
    [(ngModel)]="selectedRadioButton"
    (change)="onSelectedRadioButtonChange()"
  />
  <span>Out of Stock ({{ outOfStock }})</span>
</div>
