.ekart--search--product {
  margin: 20px auto;
  text-align: center;
}
.ekart-search-product-input {
  width: 40%;
  height: 50px;
  padding: 1px 10px;
  outline: none;
  border-radius: 2px;
  background-color: #efefef;
  border: #28282b 1px solid;
}

.btn-search {
  height: 50px;
  padding: 0 30px;
  background-color: #28282b;
  color: #fff;
  margin-left: 10px;
  border: none;
}

.ekart-search-result-for {
  margin: 20px auto;
  padding: 10px 140px;
}
